*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul,ol{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.container{
  max-width: 787px;
  margin: 0 auto;
  padding: 0 15px;
}
header{
  background-color: #0C151D;
  padding-top: 178px;
  padding-bottom: 68px;
 
}
.hero{
  width: 300px;
  height: 300px;
  border: 1px solid white;
  border-radius: 100%;
}
.pixtures{
  width: 300px;
  border-radius: 100%;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.info{
  color: white;
  margin-left: 40px;

}
.nav__list{
 display: flex;
}
.work{
  display: flex;
  justify-content: space-evenly;
  margin-top: 48px;
  color:#A3ABB2;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
.work1{
 width: 194px;
}
p{
  display: block;
}
.work2{
  width: 125px;
}
.work3{
  width: 119px;
}
.button{
  display: flex;
  justify-content: center;
}
.dow__btn{
  width: 290px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFE071;
  margin-top: 67px;
  color: #3D3D3D;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  border: 0px solid #FFE071;
}
.now__btn{
  width: 290px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 0px solid #3E64AA;
  background: #171F26;
  color: #A3ABB2;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-top: 67px;
  margin-left: 38px;
}
.portfol{
  width: 756px;
  height: 116px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #171F26;
  margin-top: 83px;
  display: flex;
  align-items: center;
  
}
.port__btn{
  width: 349.595px;
  height: 80px;
  border-radius: 10px;
  border: 0px solid #3E64AA;
  background: #0C151D;
  color: #A3ABB2;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  margin-left: 23px;

}
.port__des{
  width: 382.37px;
  color: #A3ABB2;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}
.project{
  background-color: #0C151D;
  padding: 73px 0;
}
.project__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 765px;

}
.project__item{
 margin-top: 48px;
 width: 362px;
 overflow: hidden;
 img{
  width: 100%;
 }
}
@media (max-width:790px) {
  .project__list{
    justify-content: space-around;
  }
  .project__item{
    width: 90%;
  }
  
}
@media (max-width:790px) {
  nav{
    img{
      margin: 0 auto;
      display: block;
    }
    flex-direction: column;
    text-align: center;
    h2{
      margin-top: 15px;
      font-size: 32px;
    }
    p{
      margin-top: 15px;
      font-size: 14px;
    }
  }
  .nav__list{
    margin-top: 20px;
    justify-content: center;
  }

  }
  @media (max-width:790px) {
    .dow__btn{
      width: 158px;
      height: 44px;
      letter-spacing: -0.531px;
      font-size: 12px;
      img{
        width: 14px;
        height: 14px;
      }
    }
    .now__btn{
      width: 158px;
      height: 44px;
      font-size: 12px;
      letter-spacing: -0.531px;
    }
    
  }
  @media (max-width:790px) {
    .portfol{
      width: 330px;
      height: 64px;
      padding: 5px 2px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 71px;
  

      
      p{
        font-size: 14px;
        align-items: center;
      }
    }
    .port__btn{
      width: 154px;
      height: 50.303px;
      font-size: 14px;
      letter-spacing: -0.5px;
      align-items: center;

    }
    
  }
  @media  (max-width:790px) {
    .work1{
      width: 106px;
      height: 66px;
    }
    .work2{
      width: 80px;
      height: 66px;
    }
    .work3{
      width: 98px;
      height: 66px;
    }
    p{
      font-size: 14px;
    }
    
  }
  
